.report-card {
  position: absolute;
  top: 140px;
  right: 20px;
  background-color: white;
  width: calc(100% - 300px);
  height: calc(100% - 600px);
  padding: 20px;
  border-radius: 2px;
  box-shadow: var(--you-trippin-shallow);
}

.report-header {
  margin-bottom: 20px;
}