:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px 0;
  overflow: scroll;
  position: absolute;      
  width: 200px;
  z-index: 1;  
}

.trip-search-input {
  border: none;
  border-radius: 2px;
  box-shadow: var(--you-trippin-shallow-shadow);
  height: 20px;
  padding: 10px;
  margin: 20px 0 10px;
  transition: var(--you-trippin-shallow-shadow-transition);
  width: calc(100% - 20px);    
}

.trip-search-input:focus {
  box-shadow: var(--you-trippin-shallow-shadow-raised);
}

.trip-search-input:focus, textarea {
  outline: none;
}

.trip-button {  
  margin-top: 10px;
  width: 100%;
}

.back-button {
  margin-top: 20px;
  width: 100%;
}

.trip-button:focus {
  outline: none;
}

.no-results {
  margin-top: 20px;
  text-align: center;
}