.hud-container {
  bottom: 40px;
  position: absolute;  
  right: 20px;
  z-index: 2;
}

.hud-info-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: var(--you-trippin-shallow-shadow);
  margin: 5px 0;
  overflow: visible;
  padding: 10px 20px;
  line-height: 24px;
  max-height: 40px;
}

.trip-report-button {
  margin-top: 10px;
  width: 100%;
}

@media only screen and (max-height: 900px) {
  .hud-container {
    right: 0;
    left: 0;
    width: auto;
  }

  .hud-info-cards {
    display: flex;
    flex-direction: row;    
    overflow: scroll;
    padding: 0 10px 2px;
  }

  .hud-info-card, .trip-report-button {
    min-width: max-content;
    margin: 0 10px;
    padding: 10px 20px;
  }

  .trip-report-button {
    position: fixed;
    top: 20px;
    left: 230px;
    width: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .trip-report-button {
    left: 10px;
    top: 70px;
  }
}