<div *mobxAutorun>
  <div *ngIf="mapStore.selectedTrip" class="hud-container">
    <div class="hud-info-card">
      Trip: {{ mapStore.selectedTrip.name }}
    </div>
    <div class="hud-info-card">
      Average Speed: {{ formattedAverageSpeed }} MPH
    </div>
    <div class="hud-info-card">
      Top Speed: {{ formattedTopSpeed }} MPH
    </div>
    <div class="hud-info-card">
      Time Idle: {{ formattedTotalTimeIdle }}
    </div>
    <div class="hud-info-card">
      Duration: {{ formattedTripDuration }}
    </div>

    <div class="you-trippin-button trip-report-button" (click)="onClickTripReportButton()">
      View Trip Report
    </div>
  </div>
</div>