.hud-container {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.hud-info-card {
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.hover-card {
  position: absolute;
  top: 0;
  left: 0;
}

/* TODO: Split off common button parts */
.trip-report-button {
  background-color: white;
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
  font-family: var(--you-trippin-font-primary);
  color: black;
  font-weight: 700;
  border: 1px solid grey;
  border-radius: 8px;
  text-align: center;
  transition: 200ms ease-in border;
}

.trip-report-button:hover {
  cursor: pointer;
  border-color: black;
}